@page "/"

<PageTitle>Home</PageTitle>

<h1>E-Bike Application</h1>

<div>
<h3>Team Member | Subsystem </h3>
<h4>Rohan Matharu | Purchasing </h4>
<h4>Rai Bedural	| Receiving </h4>
<h4>Anaka Sparrow | Sales/Returns </h4>
<h4>Cole McArthur | Servicing </h4>
</div>